$center-box-padding: 125px;
$center-box-padding-small: 40px;

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 300px;
    position: relative;

    @include responsive('tablet') {
        padding-bottom: 450px;
    }

    @include responsive('small') {
        padding-bottom: 325px;
    }
}

.about-center-box {
    padding: $center-box-padding;
    background-color: $dark-grey;
    position: relative;
    aspect-ratio: 2/1;
    margin-right: 5vw;

    @include responsive('small') {
        padding: 70px $center-box-padding-small;
        margin-right: 0;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-word {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: calc(-#{$center-box-padding} - 35px);
            top: -5%;
            height: 70px;
            width: 70px;
            background-color: $light;
            border-radius: 50%;
            z-index: 1;

            @include responsive('small') {
                left: calc(-#{$center-box-padding-small} - 20px);
                height: 40px;
                width: 40px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: calc(-#{$center-box-padding} - 8px);
            top: 14px;
            display: inline-block;
            transform: rotate(45deg);
            height: 30px;
            width: 16px;
            border-bottom: 7px solid $dark-grey;
            border-right: 7px solid $dark-grey;
            z-index: 2;

            @include responsive('small') {
                left: calc(-#{$center-box-padding-small} - 6px);
                top: 7px;
                height: 20px;
                width: 12px;
                border-bottom: 4px solid $dark-grey;
                border-right: 4px solid $dark-grey;
            }
        }
    }
}

.about-box {
    display: flex;
    align-items: flex-end;
    aspect-ratio: 1/1;
    width: min(21vw,325px);
    padding-bottom: 30px;
    padding-left: 30px;
    flex: 1;
    position: absolute;

    h4 {
        line-height: 1;
    }

    @include responsive('tablet') {
        padding-bottom: 15px;
        padding-left: 15px;
    }

    @include responsive('small') {
        width: 150px;
    }
}

.about-left-box {
    background-color: $light;
    color: #222;
    right: 100%;
    bottom: 100%;

    @include responsive('tablet') {
        right: unset;
        left: 0;
    }
}

.about-right-center-box {
    background-color: $red;
    color: $light;
    top: 65%;
    left: 65%;

    @include responsive('small') {
        top: 85%;
        left: 50%;
    }
}

.about-right-box {
    background-color: $red;
    color: $light;
    left: 100%;
    bottom: 100%;

    @include responsive('tablet') {
        bottom: -100%;
        left: -100%;
    }
}

.vector {
    position: absolute;
    left: -30%;
    top: 10%;
    z-index: -1;
}

.about-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 95%;
    margin: auto;

    & > img {
        @include responsive('mobile') {
            height: 140px;
            object-fit: cover;
        }
    }
}