$center-box-padding: 155px;

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 300px;
    position: relative;
}

.about-center-box {
    padding: $center-box-padding;
    background-color: $dark-grey;
    position: relative;
    aspect-ratio: 2/1;
    margin-right: 5vw;

    .first-word {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: calc(-#{$center-box-padding} - 35px);
            top: -5%;
            height: 70px;
            width: 70px;
            background-color: $light;
            border-radius: 50%;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            left: calc(-#{$center-box-padding} - 8px);
            top: 14px;
            display: inline-block;
            transform: rotate(45deg);
            height: 30px;
            width: 16px;
            border-bottom: 7px solid $dark-grey;
            border-right: 7px solid $dark-grey;
            z-index: 2;
        }
    }
}

.about-box {
    display: flex;
    align-items: flex-end;
    aspect-ratio: 1/1;
    width: min(21vw,325px);
    padding-bottom: 30px;
    padding-left: 30px;
    flex: 1;
    position: absolute;

    h4 {
        line-height: 1;
    }
}

.about-left-box {
    background-color: $light;
    color: #222;
    right: 100%;
    bottom: 100%;
}

.about-right-center-box {
    background-color: $red;
    color: $light;
    top: 65%;
    left: 65%;
}

.about-right-box {
    background-color: $red;
    color: $light;
    left: 100%;
    bottom: 100%;
}

.vector {
    position: absolute;
    left: -30%;
    top: 10%;
    z-index: -1;
}

.about-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 95%;
    margin: auto;
}