.contact__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 12% 0 8% 0;
    position: relative;
    gap: 32px;
}

.contactLeft {
    grid-column: span 2;
    span {
        font-size: 18px;
        max-width: 280px;
        display: block;
        margin-top: 32px;
    }

    @include responsive('tablet') {
        grid-column: span 5;
    }
}

.contactForm {
    grid-column: span 3;

    @include responsive('tablet') {
        grid-column: span 5;
    }

    input, textarea {
        background-color: $grey;
        padding: 16px 36px;
        color: $light;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        width: 100%;
    }

    input[type="submit"] {
        background-color: $red;
        color: $white;
        padding: 18px 42px;
        width: auto;
    }
}

.contactDots__top {
    position: absolute;
    top: 0;
    left: 15%;
    z-index: -1;
    max-width: 100%;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
}

.contactDots__left {
    position: absolute;
    bottom: 0;
    left: -10%;
    z-index: -1;
    max-width: 100%;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}

.contactRodo {

    .wpcf7-list-item {
        margin: 0!important;
    }

    label {
        display: flex;
        align-items: baseline;
        gap: 12px;
        margin-bottom: 35px;

        input {
            width: auto;
            margin: 8px 0 0 0!important;
        }

        span {
            font-size: 13px;
        }
    }

}