.offer-container {
    background-color: $light;
    color: $dark;
    padding: 50px;
    padding-top: 0;

    @include responsive('small') {
        padding: 20px;
    }
}

.offer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $red;
    padding: 15px 35px;
    color: $light;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @include transition(background-color);

    &:hover {
        background-color: $dark;
        @include transition(background-color);
    }
}

.right-arrow {
    font-size: 30px;
    margin-bottom: 4px;
}

.offer-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 100px 0;

    h2 {
        line-height: 1.1;
    }

    @include responsive('small') {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 50px 0;
    }
}

.offer-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;

    @include responsive('tablet') {
        grid-template-columns: 1fr 1fr;
    }

    @include responsive('small') {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

.offer-item {
    display: grid;

    .offer-image {
        aspect-ratio: 2/1;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &.red {
            background-color: $red;
        }
    }
    
    .offer-text {
        padding: 40px;
    }

    &.grey {
        display: none;

        @include responsive('small') {
            display: grid;
        }

        .offer-image {
            background-color: $dark-grey;
        }
        
        .offer-text {
            background-color: $grey;
            color: $light;
        }
    }
}

.offer-link-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: $grey;
    color: $light;
}

.offer-nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px !important;

    @include responsive('small') {
        display: none;
    }

    .offer-nav-button {
        font-size: 2rem;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: $dark;
        color: $light;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.5rem;
        margin-right: 15px;

        &.current {
            background-color: $red;
        }
    }
}